*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: rgb(224, 223, 223);

}
main{
  width: 100%;
  height: 100%;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: crimson; */
  padding: 1rem   2.7rem;
  
}
a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}
.logo{
  margin-right: 20px;
  font-size: 1.2rem;
}
.link{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.bac{
  font-size: 1.7rem;
  font-weight: 500;
  word-spacing: 100 ;
}



section{
  padding: 1rem ;
  width: 100%;
  /* background-color: rgb(111, 111, 8); */
  height: 90%;
  display: flex;
  gap: 0.5rem;
}
.left{
  padding: 0.5rem;
  width: 35%;
  /* background-color: rgb(156, 146, 146); */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  
  padding-left: 9rem;
}
.top-side{
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.top{
  
  display: flex;
  gap: 2rem;
  
}
.top h2{
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.top p{
  font-size: 1rem;
  padding-left: 1.3rem;
}

.middle h1{
  font-size: 12rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  
  line-height: 0.9;
}
.middle p{
  padding-left: 1rem;
  font-size: 1rem;
  margin-bottom: 6.5rem;
}

.right{
  width: 65%;
  
}
.right img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
